numpy == 1.24.3
pandas == 1.5.3
matplotlib == 3.7.1
scikit-learn == 1.2.2
scipy == 1.10.1
pyfunctional == 1.4.3
pydantic == 2.1.1
pathlib == 1.0.1
xlrd == 2.0.1
category_encoders == 2.6.2
pyod == 1.1.1
prince == 0.13.0
yellowbrick == 1.5
plotly == 5.9.0
kaleido == 0.2.1
prophet == 1.1.5
folium == 0.15.1
streamlit_folium == 0.17.4
librosa == 0.10.1
torch == 2.1.2
torchmetrics == 1.2.1
gplearn == 0.4.2

# physo need to be installed manually
physo == 1.0
# Available through conda and pip
dot2tex == 2.11.3

# Only available via pip
pdflatex == 0.1.3
pdf2image == 1.16.0
pillow >= 9.0.1
# pygraphviz == 1.9 # Install via conda recommended
latex == 0.7.0